.navbar{

display:flex;
justify-content:space-between;
align-items:center;

background:black;
padding:15px 40px;

border-bottom:2px solid cyan;

}

.logo{

color:cyan;
font-size:26px;
text-shadow:0 0 10px cyan;

}

.navbar ul{

display:flex;
list-style:none;

}

.navbar li{

margin-left:25px;

}

.navbar a{

color:white;
text-decoration:none;
font-size:18px;

transition:0.3s;

}

.navbar a:hover{

color:cyan;
text-shadow:0 0 10px cyan;

}
