.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0020;
  padding: 12px 30px;
  color: white;
}

/* Left Side */
.nav-left {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.nav-logo {
  height: 45px;
  margin-right: 10px;
  cursor: pointer;
}

.logo-text {
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

/* Right Side */
.nav-right {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-item:hover {
  color: #8b5cf6;
}